{% extends 'layout.html' %}

{% block body %}



{% from "includes/_formhelper.html" import render_field %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-md-3">
        </div>
        <div class="col-12 col-md-4">
            <h1>Register</h1>
<form method="POST" action="" >
    <div class="form-group">
        Name
        {{ render_field(form.name, class_="form-control md ") }}
    </div>
    <div class="form-group">
        Email 
        {{ render_field(form.email, class_="form-control")}}
    </div>

    <div class="form-group">
        Username
        {{ render_field(form.username, class_="form-control")}}
    </div>

    <div class="form-group">
        Password
        {{ render_field(form.password, class_="form-control")}}
    </div>

    <div class="form-group">
        Confirm
        {{ render_field(form.confirm, class_="form-control")}}
    </div>
    <br>
    <p><input type="submit" class="btn btn-primary form-control" value="Submit"></p>

</form>
</div>
</div>
</div>
{% endblock %}